/*
    项目全局颜色 配置
*/

$colorTheme:    #F0AC07 !default; /* 页面的主题色 */
$colorButton:   #F0AC07 !default; /* 按钮主题色 */
$colorIntroductionTag:    #132E50 !default; /* 课程介绍标签颜色 */
$colorBottomBar:    #132E50 !default; /* 底部导航栏背景色 */
$colorNavigationBackground:    #192535 !default; /* 头部导航栏背景色 */
